<div class="section">
    <div class="details-section shadow">
        <div class="grid-wrapper">
            <div class="left-div">
                <h2>Pikachu</h2>
                <div class="type-info">
                    <p>Fire</p>
                    <p>Electric</p>
                </div>
                <img src="" alt="image">
            </div>
            <div class="right-div">
                <h2>Pokemon Details</h2>
                <p><strong>Experience</strong> 64</p>
                <p><strong>Height</strong> 70 decimeter</p>
                <p><strong>Weight</strong> 130 hectogram</p>
            </div>
        </div>
    </div>

    <div class="gallery-section">
        <h2>Photo Gallery</h2>
        <div class="grid-wrapper">
            <div class="card shadow">
                <img src="" alt="image">
            </div>
        </div>
    </div>
</div>